@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    background: #305c4f;
    color: white;
    font-family: 'Poppins', sans-serif;
    
    h1{
        font-size: 50px;
        color: #60b89f;
        text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0,0,0,0.20);
    }
}

.hero-container{

    width: 100%;

    img{
        width: 100%;
    }
}

.characters{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .small-image{
        width: 400px;
        img{
            width: 100%;
        }
    }
}

.character{

    h2{
        padding: 20px;
    };

    a{
        color: #cd8376;
        text-decoration: none;

        &:hover{
            text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0,0,0,0.20);
        }
    }
}

.single-character{
    h2{
        font-size: 
        text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0,0,0,0.20);
    }
    
}