@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://use.typekit.net/phh5zva.css");
@font-face { font-family: 'HaveHeartOne'; src: url("fonts/HaveHeartOne.ttf") format("truetype"), url("fonts/HaveHeartOne.woff") format("woff"), url("fonts/HaveHeartOne.woff2") format("woff2"); font-weight: normal; font-style: normal; }

body { background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png"); background-color: #305c4f; color: white; font-family: 'Poppins', sans-serif; margin: 0; padding: 0; }

body h1 { font-family: 'goodlife-brush', 'Poppins', sans-serif; font-size: 70px; color: #f38993; text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0, 0, 0, 0.2); margin-block-start: 0.4em; margin-block-end: 0.4em; }

@media only screen and (min-width: 1300px) { body h1 { font-size: 75px; } }

.hero-container { width: 100%; }

.hero-container picture { height: 100vh; }

.hero-container img { width: 100%; }

.characters-section h1 { width: 100%; text-align: center; }

.characters-row { display: flex; justify-content: center; width: 99%; flex-wrap: wrap; margin: auto; }

@media only screen and (min-width: 640px) { .characters-row > div { flex: 0 50%; justify-content: space-around; } }

@media only screen and (min-width: 1300px) { .characters-row { flex-wrap: nowrap; justify-content: space-evenly; } }

.characters-row .small-image { width: 300px; background: white; padding: 10px 10px 40px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.characters-row .small-image img { width: 100%; }

nav#menu .menu-menu-1-container ul { list-style: none; display: flex; flex-direction: row; }

.character { display: flex; margin-bottom: 30px; }

.character a { color: #f38993; text-decoration: none; }

.character a:hover { text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0, 0, 0, 0.2); cursor: pointer; }

.single-character { width: 95%; margin: auto; }

@media only screen and (min-width: 1300px) { .single-character { width: 60%; } }

.single-character .character-name { background: #82a2a3; }

.single-character .character-name .top-angle { position: absolute; left: -1%; width: 102%; height: 42px; background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png"); background-color: #305c4f; transform: rotate(-10deg); }

@media only screen and (min-width: 640px) { .single-character .character-name .top-angle { width: 100%; transform: rotate(-5deg); } }

@media only screen and (min-width: 1300px) { .single-character .character-name .top-angle { transform: rotate(-15deg); } }

.single-character img { width: 358px; background: white; border: 1px solid black; padding: 10px 10px 40px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.single-character .character-bio { width: 100%; }

@media only screen and (min-width: 1300px) { .single-character .character-bio { display: flex; } }

@media only screen and (min-width: 1300px) { .single-character .character-info { margin-left: 20px; } }

.single-character .character-info h4 { text-decoration: underline; font-weight: bold; margin-block-start: 0.0em; margin-block-end: 0.0em; }

.single-character h2 { font-family: 'goodlife-brush', 'Poppins', sans-serif; color: #f38993; font-size: 60px; text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0, 0, 0, 0.2); text-align: center; margin-block-start: 0.0em; margin-block-end: 0.0em; position: relative; padding: 20px; }

.single-character h3 { color: black; text-align: center; padding-bottom: 20px; }
