@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://use.typekit.net/phh5zva.css");

$tablet-breakpoint: 640px;
$desktop-breakpoint: 1300px;


@mixin tablet{
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop{
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}

@font-face {
    font-family: 'HaveHeartOne';
    src:url('fonts/HaveHeartOne.ttf') format('truetype'), url('fonts/HaveHeartOne.woff') format('woff'),url('fonts/HaveHeartOne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    background-color: #305c4f;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    height: 100%;


    h1{
        font-family: 'goodlife-brush', 'Poppins', sans-serif;
        font-size: 70px;
        color: #f38993;
        text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0,0,0,0.20);
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;

        @include desktop{
            font-size: 75px;
        }
    }
}


.hero-container{
    width: 100%;

    picture{
        height: 100vh;
    }

    img{
        width: 100%;
    }
}

.characters-section, .books-section{
    h1{
        width: 100%;
        text-align: center;
    }
}

.characters-row, .books-row{

    display: flex;
    justify-content: center;
    width: 99%;
    flex-wrap: wrap;
    margin: auto;

    @include tablet{
        
        & > div {
            flex: 0 50%;
            justify-content: space-around;
        }
    }

    @include desktop{
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .small-image{
        width: 300px;
        background: white;
        padding: 10px 10px 40px;
        box-shadow: 0 5px 10px rgba(0,0,0,.5);

        img{
            width: 100%;
        }
    }
}

nav#menu{

    .menu-menu-1-container ul {
        list-style: none;
        display: flex;
        flex-direction: row; 
    }
    
}

.character{
    display: flex; 
    margin-bottom: 30px;

    &:nth-child(2){
        transform: rotate(2.2deg);
    }

    &:nth-child(4){
        transform: rotate(-4deg);
    }


    a{
        color: #f38993;
        text-decoration: none;
        transition: 0.2s;

        &:hover{
            text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0,0,0,0.20);
            cursor: pointer;
        }
    }

//     @include tablet{
//         flex: 2
//     };

//     @include desktop{
//         flex: 3;
//     }
}

.single-character{
    width: 95%;
    margin: auto;

    @include desktop{
        width: 60%;
    }
    .character-name{
        background: #82a2a3;
        

        .top-angle{
            position: absolute;
            left: -1%;
            width: 102%;
            height: 42px;
            background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
            background-color: #305c4f;
            transform: rotate(-10deg);

            @include tablet{
                width: 100%;
                transform: rotate(-5deg);
            }

            @include desktop{
                transform: rotate(-15deg);
            }
        }
    }

    img{
    
        width: 358px;  
        background: white;
        border: 1px solid black;
        padding: 10px 10px 40px;
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: rotate(2.2deg);
        }


    .character-bio{
        width: 100%;
        
        @include desktop{
            display: flex;
        }
    }
    
    .character-info{

        @include desktop{
            margin-left: 20px;
        }
    
        h4{
            text-decoration: underline;
            font-weight: bold;
            margin-block-start: 0.0em;
            margin-block-end: 0.0em;
        } 
    }

    h2{
        font-family: 'goodlife-brush', 'Poppins', sans-serif;
        color: #f38993;
        font-size: 60px;
        text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0,0,0,0.20);
        text-align: center;
        margin-block-start: 0.0em;
        margin-block-end: 0.0em;
        position: relative;
        padding: 20px;
    }


    h3{
        color: black;
        text-align: center;
        padding-bottom: 20px;
    }
    
}

.books-row{

    @include tablet{
        
        & > div {
            flex: 0 25%;
            justify-content: space-around;
            align-items: baseline;
        }
    }

}

.book-home{

    display: flex;
    justify-content: center;
    padding: 20px;

    a{
        color: #f38993;
        text-decoration: none;
        transition: 0.2s;

        &:hover{
            text-shadow: 2px 2px 0px #305c4f, 5px 4px 0px rgba(0,0,0,0.20);
            cursor: pointer;
        }
    }

    &:nth-child(2){
        transform: rotate(-2.2deg);
    }
}